* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(15, 15, 15) !important;
    color: #F5F5F5 !important;
}

.navbar.bg-dark {
    background-color: #080808 !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6) !important;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 10%;
    flex-wrap: wrap;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 30px;
    color: white !important;
    margin-bottom: 8px;
}

.home-content h3 {
    font-size: 20px;
    color: #E5B80B !important;
    margin-bottom: 20px;
}

.home-content p {
    font-size: 16px;
    line-height: 1.6 !important;
    margin-bottom: 30px;
}

.social-media {
    display: flex !important;
    gap: 20px !important;
    margin-bottom: 30px;
}

.social-media a {
    font-size: 32px;
    color: white !important;
    transition: color 0.5s ease !important;
}

.social-media a:hover {
    color: #FFF500 !important;
}

.btn {
    display: inline-block !important;
    padding: 12px 25px !important;
    background-color: rgb(145, 127, 88) !important;
    color: white !important;
    text-decoration: none;
    border-radius: 20px !important;
    font-weight: bold !important;
    transition: background-color 0.5s ease !important;
}

.btn:hover {
    background-color: #FFF500 !important;
}

.home-img {
    max-width: 400px;
    display: flex !important;
    justify-content: center !important;
}

.home-img img {
    width: 100%;
    border-radius: 200px !important;
    /*box-shadow:  0px 25px black;*/
}

.fundoImg {
    display: block !important;
    justify-content: center !important;
    align-items: center !important;
    max-width: 400px;
    aspect-ratio: 1/1 !important;
    padding: 20px 20px !important;
    background-color: #E5B80B !important;
    border-radius: 2000px;
}

#habilidade {
    padding: 50px 20px;
    background-color: #c49c00 !important;
    text-align: center;
}

#habilidade h2 {
    font-size: 2rem !important;
    color: rgb(15, 15, 15);
}

.habilidade-content {
    padding-top: 50px;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center ;
    gap: 30px !important;
}

.habilidade {
    box-shadow: 2px 5px 5px #9b5a04 !important;
    background-color: rgb(15, 15, 15) !important;
    padding: 20px;
    border-radius: 15px !important;
    width: 250px;
    text-align: left !important;
}

.habilidade h3 {
    margin-bottom: 15px;
    color: #c4a600 !important;
}

.habilidade ul {
    list-style: disc inside;
    padding-left: 0;
}

.habilidade li {
    margin-bottom: 8px !important;
    font-size: 0.95rem !important;
    color: #fff8dc !important;
}



@media (max-width: 900px) {

    .home {
        flex-direction: column-reverse !important;
        padding: 50px 5% !important;
        text-align: center !important;
    }

    .home-content {
        justify-content: center !important;
    }

    .social-media {
        justify-content: center !important;
    }

    .home-img {
        margin-bottom: 30px !important;
    }

    .fundoImg {
        margin-bottom: 30px !important;
    }

    #habilidade {
        flex-direction: column-reverse !important;
        padding: 50px 5% !important;
        text-align: center !important;
    }
}
