.theme-toggle {
    border-radius: 50% !important;
    width: 45px;
    height: 45px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, 0.3) !important;
    transition: all 0.3s ease;
}

body.light-mode,
body.light-mode h1 {
    background-color: #f5f5f5 !important;
    color: #333 !important;
}

body.light-mode #habilidade,
body.light-mode #nav,
body.light-mode #home-img,
body.light-mode #carousel-habilidades {
    background-color: #ffea72 !important;
}

body.light-mode .habilidade,
body.light-mode .habilidade ul li {
    background-color: #f5f5f5 !important;
    color: black !important;
}

body.light-mode #cv {
    background-color: #f5f5f5 !important;
    color: #333333 !important;
    border-color: #333333 !important;
}

body.light-mode .social-media a {
    color: #333333 !important;
}

body.light-mode .social-media a:hover {
    color: #FFF500 !important;
}

body.light-mode #cv:hover {
    background-color: #FFF500 !important;
    color: #f5f5f5 !important;
    border-color: #f5f5f5 !important;
}

body.light-mode .card,
body.light-mode .card p{
    background-color: #f5f5f5 !important;
    color: black !important;
}